<section>
  <div class="bg-img-fondo flex flex-row justify-center bg-cover bg-center bg-no-repeat min-h-screen z-10">
    <div class="flex flex-col bg-secondary min-h-screen lg:w-2/5 z-30 px-4 md:px-6 py-4 gap-4">
      <div class="flex flex-col items-center md:pt-4 pt-3">
        <img src="/assets/imgLogin.jpg" alt="" class="md:h-[180px]">
      </div>
      <ng-container *ngIf="!showRegistrationForm; else registrationForm" class="transition-transform duration-300">
        <form #loginForm="ngForm" class=" flex flex-col gap-4 md:pt10 pt-6">
          <div class="w-full">
            <label for="username">Usuario*</label><br>
            <input [(ngModel)]="username" #txtusername="ngModel" name="username" placeholder="username"
              class="w-full px-2" require type="email" email>
            <!-- Mensaje de error si el campo es inválido -->
            <div class="text-red-500 text-xs" *ngIf="txtusername.invalid && (txtusername.dirty || txtusername.touched)">
              <div class="text-red-500 text-xs" *ngIf="txtusername.errors?.['required']">El usuario es requerido.</div>
              <div class="text-red-500 text-xs" *ngIf="txtusername.errors?.['email']">El usuario debe ser un correo
                electrónico válido.</div>
            </div>
          </div>
          <div>
            <label for="password">Contraseña*</label><br>
            <input [(ngModel)]="password" #txtpassword="ngModel" name="password" placeholder="password" type="password"
              class="w-full px-2" required>
            <!-- Mensaje de error si el campo es inválido -->
            <div class="text-red-500 text-xs" *ngIf="txtpassword.invalid && (txtpassword.dirty || txtpassword.touched)">
              <div class="text-red-500 text-xs" *ngIf="txtpassword.errors?.['required']">La contraseña es requerida.
              </div>
            </div>
          </div>
        </form>
        <div class="flex justify-center pb-8 md:w-1/2 md:mx-auto w-full">
          <button class="button" (click)="login()">Login</button>
        </div>
      </ng-container>
      <ng-template #registrationForm class="transition-transform duration-300">
        <form class="flex flex-col gap-4 md:pt-2 pt-6">
          <div class="w-full">
            <label for="name">Nombre*</label><br>
            <input [(ngModel)]="name" #txtname="ngModel" name="name" placeholder="Nombre" class="w-full px-2" required
              minlength="6" maxlength="17">
            <!-- Mensaje de error si el campo es inválido -->
            <div class="text-red-500 text-xs" *ngIf="txtname.invalid && (txtname.dirty || txtname.touched)">
              <div class="text-red-500 text-xs" *ngIf="txtname.errors?.['required']">El nombre es requerido.</div>
              <div class="text-red-500 text-xs" *ngIf="txtname.errors?.['minlength']">El nombre debe tener al menos 6
                caracteres.</div>
              <div class="text-red-500 text-xs" *ngIf="txtname.errors?.['maxlength']">El nombre debe tener máximo 17
                caracteres.</div>
            </div>
          </div>
          <div class="w-full">
            <label for="username">Usuario*</label><br>
            <input [(ngModel)]="username" #txtusername="ngModel" name="username" placeholder="username"
              class="w-full px-2" required minlength="6" type="email" email>
            <!-- Mensaje de error si el campo es inválido -->
            <div class="text-red-500 text-xs" *ngIf="txtusername.invalid && (txtusername.dirty || txtusername.touched)">
              <div class="text-red-500 text-xs" *ngIf="txtusername.errors?.['required']">El usuario es requerido.</div>
              <div class="text-red-500 text-xs" *ngIf="txtusername.errors?.['minlength']">El usuario debe tener al menos
                6 caracteres.</div>
              <div class="text-red-500 text-xs" *ngIf="txtusername.errors?.['email']">El usuario debe ser un correo
                electrónico válido.</div>
            </div>
          </div>
          <div>
            <label for="password">Contraseña*</label><br>
            <input [(ngModel)]="password" #txtpasswordR="ngModel" name="password" placeholder="password" type="password"
              class="w-full px-2" required minlength="8">
            <!-- Mensaje de error si el campo es inválido -->
            <div class="text-red-500 text-xs"
              *ngIf="txtpasswordR.invalid && (txtpasswordR.dirty || txtpasswordR.touched)">
              <div class="text-red-500 text-xs" *ngIf="txtpasswordR.errors?.['required']">La contraseña es requerida.
              </div>
              <div class="text-red-500 text-xs" *ngIf="txtpasswordR.errors?.['minlength']">La contraseña debe tener al
                menos 8 caracteres.</div>
            </div>
          </div>
          <div>
            <label for="password">Repetir Contraseña*</label><br>
            <input [(ngModel)]="repeatPassword" #txtrepetirp="ngModel" name="repeatPassword" placeholder=" password"
              type="password" class="w-full px-2" required minlength="8">
            <!-- Mensaje de error si el campo es inválido -->
            <div class="text-red-500 text-xs" *ngIf="txtrepetirp.invalid && (txtrepetirp.dirty || txtrepetirp.touched)">
              <div class="text-red-500 text-xs" *ngIf="txtrepetirp.errors?.['required']">La contraseña es requerida.
              </div>
              <div class="text-red-500 text-xs" *ngIf="txtrepetirp.errors?.['minlength']">La contraseña debe tener al
                menos 8 caracteres.</div>
            </div>
          </div>
          <!-- hacer que las contrasenas coincidan-->
          <div class="text-red-500 text-xs" *ngIf="repeatPassword != password">
            <div class="text-red-500 text-xs">Las contraseñas no coinciden.</div>
          </div>
        </form>
        <div class="flex justify-center pb-8 md:w-1/2 md:mx-auto w-full">
          <button class="button" (click)="register()">Registrarse</button>
        </div>
      </ng-template>
      <nav class="flex flex-col gap-9">
        <div class="flex flex-row gap-5 justify-center">
          <img src="/assets/fb.png" alt="icono de facebook"
            class="h-[38px] hover:scale-110 transition hover:cursor-pointer">
          <img src="/assets/tiktok.png" alt="icono de facebook"
            class="h-[38px] hover:scale-110 transition hover:cursor-pointer">
          <img src="/assets/instagram.png" alt="icono de facebook"
            class="h-[38px] hover:scale-110 transition hover:cursor-pointer">
        </div>
        <div class="flex flex-row gap-8 justify-center">
          <p class="text-center hover:underline hover:cursor-pointer transition-colors duration-300"
            (click)="toggleForm()">
            {{ isLoginForm ? '¿No tienes cuenta? Regístrate' : 'Si tengo cuenta! Ir a Login' }}
          </p>
          <p class="text-center hover:underline"><a href="#" class="text-primary">Olvidé mi contraseña</a></p>
        </div>
      </nav>
    </div>
  </div>
</section>