.button {
  background-color: #26284a;
  border: none;
  color: white;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  width: 100%;
}

.button:hover {
  background-color: #3b3d6f;
}