.button {
  background-color: #26284a;
  border: none;
  color: white;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  width: 40%;
}

.button:hover {
  background-color: #3b3d6f;
}

.button2 {
  background-color: white;
  border: none;
  color: black;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  width: 40%;
}