<!-- <div>
    <table class="w-full">
        <thead>
            <tr>
                <th (click)="touchTitle()">Title</th>
                <th (click)="touchAmount()">Amount</th>
                <th (click)="touchDatetime()">Datetime</th>
                <th (click)="touchDescription()">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of response.results">
                <td style="color: blue;" (click)="viewTransaction(t.id,t.data)">{{ t.data.title }}</td>
                <td>{{ t.data.amount }}</td>
                <td>{{ t.data.timeOfTransaction }}</td>
                <td>{{ t.data.description }}</td>
            </tr>
        </tbody>
    </table>
    <li style="color: blue;" (click)="navigateNext()">next</li>
    <li style="color: blue;" (click)="navigatePrevious()">previous</li>
</div> -->

<app-transaction-table-inner></app-transaction-table-inner>