<p>transaction-detail works!</p>
<li style="color: blue;" [routerLink]="['/','transaction','edit',id]"> Editar</li>
<li style="color: red;" (click)="delete()"> Eliminar</li>
<ng-container *ngIf="transaction">    
    <p>Title: {{ transaction.title }}</p>
    <p>amount: {{ transaction.amount | currency }}</p>
    <p>datetime: {{ transaction.timeOfTransaction }}</p>
    <p>Description: {{ transaction.description }}</p>
</ng-container>
<ng-container *ngIf="navigateNext">
    <li style="color: blue;" (click)="navigateNext()" >next</li>
</ng-container>
<ng-container *ngIf="navigatePrevious">
    <li style="color: blue;" (click)="navigatePrevious()" >previous</li>
</ng-container>

